/* add style for ul */

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

/* add style for nav bar */

div {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}